<div class="modal fade" id="modal_createuser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_UserCreateFormPartial")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="form_createuser"><i class="fa fa-floppy-o"></i> Create</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#modal_createuser").modal("show");
    $("#modal_createuser").on("hidden.bs.modal", function (e) {
        $(this).parent().empty();
    });

    function createuser_success() {
        $('#modal_createuser').modal('hide');
        refresh_user_table();
    }
</script>