@model  MFramework.Services.IdentityAuth.Models.UserDetailsViewModel

<div class="modal fade" id="modal_detailsuser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="col-md-10">
                        <div class="small"><b>User Name : </b>@Model.User.UserName</div>
                        <div class="small"><b>User E-Mail : </b>@Model.User.Email</div>
                    </div>
                    <div class="col-md-2 text-right">
                        @Ajax.ActionLink("Refresh", "DetailsUserData", "Admin", new { id = Model.User.Id }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, LoadingElementDuration = 300, LoadingElementId = "loading", UpdateTargetId = "section_userdetailsdata" }, new { @class = "btn btn-primary", id = "btn_refreshuserdetailsdata" })
                    </div>
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>
                <div class="row" id="section_userdetailsdata">
                    @*Ajax Loading : _UserDetailsDataPartial*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#modal_detailsuser").modal("show");
    $("#modal_detailsuser").on("hidden.bs.modal", function (e) {
        $(this).parent().empty();
    });

    $("#btn_refreshuserdetailsdata").click();
</script>