@helper Loading(string id, string message = "Loading..", string css = "alert alert-info", string icon = "fa fa-spinner")
{
    <div id="@id" class="@css" style="display:none;">
        <i class="@icon fa-spin"></i> @message
    </div>
}

@helper SpinnerLoaderIndicator(string id)
{
    <div id="@id" class="circle-loader-indicator-container" style="display:none;">
        <div class="circle-loader-indicator">
            <div class="circle-loader">
                <div class="circle-loader">
                    <div class="circle-loader">
                        <div class="circle-loader">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@helper UseCheckRemoveIcon(bool value)
{
    if (value)
    {
        <i class="fa fa-check text-success"></i>
    }
    else
    {
        <i class="fa fa-remove text-danger"></i>
    }
}